<ion-view view-title="City Pantry: Vendor app">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Login</div>
      <div class="item item-body">
        <div>
          <label class="item item-input">
            <input ng-model="details.email" placeholder="Email" required type="text" />
          </label>
          <label class="item item-input">
            <input ng-model="details.password" placeholder="Password" required type="password" />
          </label><br />
          <button class="button" ng-click="login()">Login</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>