<ion-view view-title="Order #{{orderMessages.order.humanId}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="message in orderMessages.messages" type="item-text-wrap">
        <h2>{{message.sender === 'vendor' ? 'Me' : orderMessages.order.customer.user.name}}</h2>
        <p>
          <strong>{{message.dateSent | date: 'd MMM HH:mm'}}</strong>
          <br />
          <span ng-bind-html="message.message | messageLineBreakFormatter" class="message"></span>
        </p>
      </ion-item>
      <ion-item type="item-text-wrap item-icon-left" ng-click="showMessageBox()">
        <i class="ion-plus"></i>
        <strong>Add message</strong>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
