<ion-view view-title="Upcoming order">
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-if="finished" ng-click="markAsFinished()">Finished</button>
    <button class="button button-block button-positive" ng-if="leftKitchen" ng-click="markAsLeftKitchen()">Left kitchen</button>
    <button class="button button-block button-positive" ng-if="late15" ng-click="markAsLate15()">Late &lt; 15 minutes</button>
    <button class="button button-block button-positive" ng-if="lateOver15" ng-click="markAsLateOver15()">Late &gt; 15 minutes</button>
    <button class="button button-block button-positive" ng-click="callCityPantry()">Call City Pantry</button>
    <button class="button button-block button-positive" ng-click="viewOrder()">View order details</button>
  </ion-content>
</ion-view>
