<ion-view view-title="Upcoming order">
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-if="finished" ng-click="finishedButton()">Finished</button>
    <button class="button button-block button-positive" ng-if="leftKitchen" ng-click="leftKitchenButton()">Left kitchen</button>
    <button class="button button-block button-positive" ng-if="late15" ng-click="late15Button()">Late &lt; 15 minutes</button>
    <button class="button button-block button-positive" ng-if="lateOver15" ng-click="lateOver15Button()">Late &gt; 15 minutes</button>
    <button class="button button-block button-positive" ng-click="callCityPantryButton()">Call City Pantry</button>
    <button class="button button-block button-positive" ng-click="viewOrderButton()">View order details</button>
  </ion-content>
</ion-view>
