<ion-view view-title="Account">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Edit business details
      </div>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your name', 'name')">
        <i class="icon ion-pricetags"></i>
        Edit name
      </a>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your description', 'description')">
        <i class="icon ion-compose"></i>
        Edit description
      </a>

      <a class="item item-icon-left" ng-click="showEditBox('Change max people per day', 'maxPeople', false, true)">
        <i class="icon ion-person-stalker"></i>
        Change max people per day
      </a>

      <div class="item item-divider">
        Edit website details
      </div>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your website address', 'url', true)">
        <i class="icon ion-earth"></i>
        Edit your website address
      </a>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your Facebook address', 'facebookUrl', true)">
        <i class="icon ion-social-facebook"></i>
        Edit your Facebook address
      </a>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your Twitter address', 'twitterUrl', true)">
        <i class="icon ion-social-twitter"></i>
        Edit your Twitter address
      </a>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your Google+ address', 'googlePlusUrl', true)">
        <i class="icon ion-social-googleplus"></i>
        Edit your Google+ address
      </a>

      <a class="item item-icon-left" ng-click="showEditBox('Edit your Youtube address', 'youtubeUrl', true)">
        <i class="icon ion-social-youtube"></i>
        Edit your Youtube address
      </a>

      <div class="item item-divider">
        General
      </div>

      <a id="logOutButton" class="item item-icon-left" ng-click="logOut()">
        <i class="icon ion-power"></i>
        Log out
      </a>

    </div>
  </ion-content>
</ion-view>
