<ion-view view-title="Account">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Edit business details
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-pricetags"></i>
        Edit name
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-compose"></i>
        Edit description
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-briefcase"></i>
        Change business type
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Change max people per day
      </a>

      <div class="item item-divider">
        Edit website details
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-earth"></i>
        Edit your website address
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-facebook"></i>
        Edit your Facebook address
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-twitter"></i>
        Edit your Twitter address
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-googleplus"></i>
        Edit your Google+ address
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-youtube"></i>
        Edit your Youtube address
      </a>

      <div class="item item-divider">
        General
      </div>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-power"></i>
        Log out
      </a>

    </div>
  </ion-content>
</ion-view>
