<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Orders" icon-off="orders" icon-on="orders-on" ng-click="navigateState('tab.orders')">
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon-off="messages" icon-on="messages-on" ng-click="navigateState('tab.messages')">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" ng-click="navigateState('tab.account')">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
