# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/js/api-base.js
/vagrant2015*
/d2015*
/.vagrant
/npm-debug.log
www/lib/lib-es*.js
