.cp-td {
	padding: 5px;
}

.cp-table {
  width: 100%;
}

.cp-item-body {
  overflow: auto;
  padding: 0;
  text-overflow: inherit;
  white-space: normal;
}

.button-positive {
  background-color: #2e8272 !important;
  border: 1px solid #2e8272 !important;
}

.bar-stable {
  background-color: #242157 !important;
}

.bar.bar-stable .title {
  color: white !important;
}

.back-button {
  color: white !important;
}
